/* CryptoConverter.css */

.crypto-converter-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .crypto-converter-container {
      max-width: 100%;
      padding: 10px;
      margin: auto
      
    }
  }
  